.table-class {
    padding: 5vh 5vh 0 5vh;
}

.div-form {
    top: 25%;
    right: 10%;
    width: 414px;
    height: 406px;
}

.div-cover {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    max-width: 1440px;
}

section {
    background-image: url('../../../assets/img/portrait.png');
    height: 670px !important;

}

.img-cover {
    position: relative;
    flex-shrink: 0;
    height: 100%;
}


.circle-2 {
    top: 0;
    margin-top: -50px;
    margin-left: 49px;
}

.circle-3 {
    margin-top: 90px;
    margin-left: 49px;
}


.circle-4 {
    margin-top: 163px;
    margin-left: -4px;
}


.circle-5 {
    position: absolute;
    top: 0;
    right: 0;
}

