<nav class="navbar  navbar-light bg-white">
        <a class="navbar-brand" href="#">
            <span class="f-fascinate light-pink-color fs-01 fw-900">BEAUTY </span>
            <span class="f-avenir medium-black-color fs-01">HAIR</span>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav align-items-end pe-3">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
  </nav>