:root {
    --light-pink: #EDBCC2;
    --ultra-light-pink: #FBF2F3;
    --double-light-gray: #DEE2E6;
    --light-text-secondary: #584648;
    --medium-pink: #deb2b899;
    --dark-pink: #7D6266;
    --light-gray: #6C757D;
    --medium-gray: #6c757d99;
    --medium-black: #00000080;
}