@font-face {
    font-family: fascinate;
    src: url(../assets/fonts/Fascinate.ttf);
}

@font-face {
    font-family: avenir;
    src: url(../assets/fonts/Avenir.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../assets/fonts/Roboto.ttf);
}

